.cms table.ss-gridfield-table tr.title th {
	background: #B0BEC7;
	border-bottom: none;
}

.cms table.ss-gridfield-table thead tr td.bottom-all {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}